.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
    height: 100vh;
    background: #000000;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 20rem;
    border: #1DB954 solid 3px;
    border-radius: 20px;
    color: #FFF;
    font-size: 2rem;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #1DB954;
    color: #000000;
}

.login-header {
    color: #1DB954;
    font-size: 7rem;
}